@page
@model TheWhaddonShowRazorApp.Pages.Persons.DisplayModel
@{
}

<h1>Persons:</h1>

@if (Model.Persons is null)
{
    <h4>No people found</h4>
}else
{
    <table class="table table-striped">
        <thead class ="thead-dark">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>IsActive</th>
                <th>IsActor</th>
                <th>IsSinger</th>
                <th>IsWriter</th>
                <th>IsBand</th>
                <th>IsTechnical</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.Persons)
            {
              <tr>
                    <td>@person.Latest.FirstName</td>
                    <td>@person.Latest.LastName</td>
                    <td>@person.Latest.Email</td>
                    <td>@person.Latest.IsActive</td>
                    <td>@person.Latest.IsActor</td>
                    <td>@person.Latest.IsSinger</td>
                    <td>@person.Latest.IsWriter</td>
                    <td>@person.Latest.IsBand</td>
                    <td>@person.Latest.IsTechnical</td>
                    <td>@person.Latest.Tags</td>
              </tr>  
            }
            
        </tbody>
    </table>
}