@model TheWhaddonShowApp.Models.MenuItem

@{
	var menuController = (ViewContext.RouteData.Values["controller"] != null) ? ViewContext.RouteData.Values["controller"].ToString() : null;
	var menuAction = (ViewContext.RouteData.Values["action"] != null) ? ViewContext.RouteData.Values["action"].ToString() : null;
}

<div class="menu-item @(menuController == Model.Controller ? "active" : "") @(Model.SubItems != null) ? "has-sub" : "")">

	@if (Model.Action != null && Model.Controller != null)
	{
        <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="menu-link">				 @*asp-area="@menu["area"]"*@
         @Html.Partial("Sidebar/_IconText",Model)
		</a>
	}
	else
	{
		<a href="#" class="menu-link">
		@Html.Partial("Sidebar/_IconText",Model)
		</a>
	}

	@if (Model.SubItems != null)
	{
		<div class="menu-submenu">
			@foreach (var subItem in Model.SubItems)
			{
				<div class="menu-item @(menuAction == Model.Action ? "active" : "")">
					<a asp-controller="@Model.Controller" asp-action="@Model.Action" class="menu-link">
					@*asp-area="@submenu["area"]"*@
						<span class="menu-text">@Model.Text</span>
					</a>
				</div>
			}
		</div>
	}

</div>
